/* 
	Base Elements 
*/
body, html {
	margin: 0;
	padding: 0;
}

body {
	background: black;
	color: white;
}

a {
	color: white;
}

a:hover {
	color: white;
	text-decoration: none;
}

span {
	color: red;
	font-family: "Courier New", Courier, monospace;
}

p, div {
	font-size: 20px;
}


/*
	Base Classes
*/
.hidden {
	display: none;
}

.title {
	font-size: 100px;
	text-align: center;
}

.subtitle {
	font-size: 60px;
	text-align: center;
}

.content {
	margin-top: 50px;
	padding: 20px;
	border: 3px solid white;
}


/*
	Containers
*/
.button-container {
	margin-top: 20vh;
	text-align: center;
}

.end-button-container {
	margin-top: 50px;
	text-align: center;
}

.credits-container {
	color: white;
	font-size: 18px;
}

.dialogue-container {
	padding: 30px 50px 30px 50px;
	border: 3px dashed white;
}

.video-container, .image-container {
	text-align: center;
	margin-bottom: 20px;
}


/*
	Buttons
*/
button {
	margin: 15px;
}

.menu-button {
	color: white;
	font-size: 50px;
	text-align: center;

	border: 5px solid white;
	border-radius: 25px;

	display: inline-block;
	width: 18vw;
	padding: 10px;
}

#play-button {
	margin-right: 50px;
}

#back-button {
	font-size: 72px;
	border: none;
	width: 8vw;
}
