.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto auto auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .09em; /* Adjust as needed */
  font-family: monospace;
  display: inline-block;
  animation: 
    typing 1.8s steps(25, end),
    blink-caret .75s step-end 3;
  animation-fill-mode: forwards;
  font-size: 40px;
}

.typewriter-before {
  display: none;
}

.typewriter-container {
  display: inline-block;
  text-align: left;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: orange; }
}

.minigame-container {
  margin: 50px;
}

input {
  background-color: black;
  color: white;
  font-family: monospace;
  margin: 0 auto auto auto;
  border: 2px solid white;
  border-radius: 5px;
  height: 50px;
  font-size: 30px;
  margin: 10px auto 10px auto;
}

#power-output {
  border: none;
  border-bottom: .10em solid white;
  font-size: 40px;
  width: 100px;
}

#xenon-output {
  border: none;
  font-size: 40px;
  width: 545px;
}